.signin-main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-form-container{
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #e3e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: solid 1px white;
    border-radius: 30px;
}
.signin-input-container{
    margin: 10px;
}
.signin-label-element-name{
    padding-right: 74px;
}
.signin-label-element-phone {
    padding-right: 10px;
}
.signin-label-element-email {
    padding-right: 78px;
}
.signin-label-element-password {
    padding-right: 50px;
}
.signin-input-element {
    padding: 8px;
    border-radius: 10px;
}
.signin-button-css{
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
}
.signin-button-container{
    padding-top: 30px;

}
.signin-button-css:hover {
    background-color: black;
    color: white;
    border: 0px;
}
